# Qt build files
**/*.pro.user
**/*.obj
**/*.o
**/*.so
**/*.dll
**/*.dylib
**/*.a
**/*.lib
**/*.exe
**/*.app
**/*.qmake.stash
**/*.qmake.cache
**/*.moc
**/*.qrc
**/*.rcc
**/*.res
**/*.dSYM/
**/bin
# Qt Creator
.idea/
**/*.pro.user*
**/*.qbs.user*
.DS_Store

build
CMakeLists.txt.user

